.DS_Store
.idea
.vscode
*.swp
*.old

node_modules

/var
/vendor

/composer.phar

.ddev/backup/*
!.ddev/backup/fileadmin.tar.gz
!.ddev/backup/mysql-db.sql.gz
.ddev/php-profiles/*

.ddev/data/*

/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
!/public/.htaccess

/devTypo3ddev
config/deployer/hosts.yaml
deploy copy.php
.php_cs.cache
